.field {
  border-radius: 1rem;
  color: white;
  border: 1px solid white;
  background-color: #101414;
  font-size: 3rem; /* Adjust the size as needed */
  padding: 1rem; /* Adjust padding for better appearance */
  width: 10rem; /* Set width to make it a square */
  height: 10rem; /* Set height to make it a square */
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bold;
}
