<div class="center">
  <div class="grid">
    @for (row of grid(); track rowIndex; let rowIndex = $index) {
      @for (val of row; track colIndex; let colIndex = $index) {
        <app-field [value]="val" (click)="UpdateGrid(rowIndex,colIndex)"></app-field>
      }
    }
  </div>

  <div class="result">
    <p>
      Player Turn: @switch (Turn()) {
      @case (-1) {
        X
      }
      @case (1) {
        O
      }
    }


    </p>

    @if (winner() != 0) {

      @switch (winner()) {
        @case (-1) {
          X Wins
        }
        @case (1) {
          O Wins
        }
        @case (404) {
          Draw
        }
      }
      <button  mat-button (click)="ResetGame()">Reset</button>

    }

  </div>
</div>
